[Unit]
Description=IP-Array Firewall - Pre Networking (lockdown mode)
DefaultDependencies=no

Before=network-pre.target
Wants=network-pre.target

Wants=systemd-modules-load.service local-fs.target
After=systemd-modules-load.service local-fs.target

Conflicts=shutdown.target
Before=shutdown.target

[Service]
Type=oneshot
ExecStart=/etc/init.d/ip-array_pre_net_boot start
ExecStop=/etc/init.d/ip-array_pre_net_boot stop

[Install]
WantedBy=multi-user.target
